<%
let comm_name ;

 if(models.comm_name == 'notice'){
     comm_name = 'BOARD_NOTICE';
 }else if(models.comm_name == 'inquiry'){
     comm_name = 'BOARD_INQUIRY';
 }

%>
                <h2 class="contents_title"></h2>
                <div class="contents_area">
                    <div class="comm_contents">
                        <div class="comm_search_bar">
                            <form action="/comm/<%=models.comm_name%>" name="comm_search_form">
                                <input name="comm_search_text" class="comm_search_text" placeholder="검색내용 입력"  >
                                <span class="comm_search_btn fa fa-search" onclick="javascript:comm_search_form.submit()"></span>
                                <select class="comm_search_select" name="comm_search_select">
                                    <option value="t">제목</option>
                                    <option value="w">작성자</option>
                                    <option value="c">내용</option>
                                </select>
                            </form>
                        </div>

                        <table class="gk_default_table gk_th_border_table">
                            <thead>
                                <tr>
                                    <th>번호</th>
                                    <th>제목</th>
                                    <th>작성자</th>
                                    <th>작성일</th>
                                </tr>
                            </thead>
                            <tbody>
                                <%  models.comms.forEach((comm, idx) => { %>
                                    <tr>
                                        <th><%= comm.display_num %></th>
                                        <td class="comm_title"><a href="/comm_view/<%= comm['BOARD_ID'] %>"><%= comm['TITLE'] %></a></td>
                                        <td><%= comm['USER_ID'] %></td>
                                        <td><%= comm['DATE'] %></td>
                                    </tr>
                                <% }); %>
                            </tbody>
                        </table> <!-- comm_table End -->
                        <div class="comm_btn_area">
                            <%
                                // 로그인 후 세션에 존재하는 userId가 없으면 글쓰기 버튼 노출시키지 않는다.
                                if(locals.authId){
                            %>
                            <button onclick="location.href='/comm_write/<%= models.comm_name%>'" type="button" title="글쓰기" class="comm_write_btn gk_simple1_btn" ><span>글쓰기</span></button>
                            <% } %>
                        </div>
                        <div class="gk_default_paging gk_basic2_paging">
                            <span><a href="">prev</a></span>
                            <ul>
                                <% 
                                if(models.comms.length > 0){
                                    for(var i=0; i < Math.ceil(Number(models.comms[0].display_num) / Number(locals.rowsPerPage)) ; i++) { %>
                                        <li><a href="?page=<%= (i+1) %>&comm_search_select=<%=locals.type%>&comm_search_text=<%=locals.query%>" class="selected"><%= (i+1) %></a></li>
                                <%  
                                    } // end for
                                }else{ 
                                %>
                                    <li><a href="" class="selected">1</a></li>
                                <% 
                                } // end if
                                %>
                            </ul>
                            <span><a href="">next</a></span>
                        </div>
                    </div> <!-- comm_contents -->
                </div> <!-- contents_area End -->
