<% include ../../head %>
<% include ../../header %>
<%
    console.log('## board/view - models', models);
%>
<div role="main" class="contets_wrapper"></div>
    <h2 class="contents_title"></h2>
    <div class="contents_area">
        <div class="comm_contents">
            <table id="comm_view_table">
                <tbody>
                    <tr class="comm_view_title">
                        <th>제목</th>
                        <td colspan="3"><%= models.comms['TITLE'] %></td>
                    </tr>
                    <tr>
                        <th>작성자</th>
                        <td><%= models.comms['USER_ID'] %></td>
                        <th>작성일</th>
                        <td><%= models.comms['DATE'] %></td>
                    </tr>
                    <tr class="comm_view_content">
                        <td colspan="4" class="comm_view_textarea"><%- models.comms['CONTENT'] %></td>
                    </tr>
                    <tr class="comm_comment_header">
                        <th colspan="4">댓글</th>
                    </tr>
                    <tr class="comm_comment_area">
                        <td colspan="4">
                        <%
                            /* 로그인 된 회원만 댓글작성가능 */
                            if(locals.authId){
                        %>
                            <div class="comm_comment_write_area">
                                <textarea rows="4"></textarea>
                                <button class="gk_simple1_btn" onClick="submitComment('<%=locals.authId%>', '<%=models.comm_name%>', '<%=models.comms['BOARD_ID']%>')">등록</button>
                            </div>
                        <% } %>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="comm_view_btn_area">
                <!-- <form method="post" action="/comm_remove/<%=models.comm_name%>&<%= models.comms['BOARD_ID']%>" name="frm" onsubmit="return chkDeletion()"> -->
                    <button onclick="location.href='/comm/<%=models.comm_name%>'" type="button" title="목록" class="comm_view_list_btn gk_simple1_btn">목록</button>
                    <%
                        console.log('[comm_view] models.salt', models.salt);
                        // 로그인 후 세션에 존재하는 userId와 res.render할때 models객체에 담겨있는 글쓴이가 일치한다면...
                        if(locals.authId === models.comms.USER_ID){
                    %>
                        <input type="hidden" name="pw" value="">
                        <button onclick="location.href='/comm_modify/<%=models.comm_name%>&<%=models.comms['BOARD_ID']%>'" type="button" title="수정" class="comm_view_modi_btn gk_simple1_btn">수정</button>
                        <button type="submit" title="삭제" class="comm_view_del_btn gk_simple1_btn">삭제</button>
                    <% } %>
                <!-- </form> -->
            </div>
        </div> <!-- comm_contents End -->
    </div> <!-- contents_area End -->
    <script>
        $(window).on("load", function(){
            listComment('<%=locals.authId%>', '<%=models.comm_name%>', '<%=models.comms["BOARD_ID"]%>');

            $('.comm_view_btn_area').find('.comm_view_del_btn').off('click').on('click', function(e){
                var popup_title = '항목 삭제';
                var popup_msg = '게시물 삭제를 위한 해당 게시물 작성 시 비밀번호를 입력해 주세요.';
                /* 게시판 팝업 내용 변경하고 띄우기 */
                loadCommPopup(popup_title, popup_msg);
            });

            $('.comm-cancel-btn').off('click').on('click', function(e){
                /* 게시판 팝업 감추기 */
                return unloadCommPopup();
            });
            $('.comm-ok-btn').off('click').on('click', function(e){
                var board_pw = $('.comm-popup-wrapper').find('.comm-popup-input').val();

                if (board_pw.length > 0) {
                    if(isNaN(board_pw)){
                        /* 게시판 팝업 에러메시지 세팅 후 비추기 */
                        return setCommPopupError('숫자만 입력되어야 합니다.', function(result){
                            return result;
                        });
                    }
                    return ajaxDeletion(board_pw, function(){
                        /* 팝업 감추기 */
                        unloadCommPopup();
                        return true;
                    });
                }else{
                    /* 게시판 팝업 에러메시지 세팅 후 비추기 */
                    return setCommPopupError('비밀번호를 제대로 입력해 주세요.', function(result){
                        return result;
                    });
                }
            });
        })

        function ajaxDeletion(pw, callback){
            // 암호화 param
            var commId = location.pathname.split('/')[2].split('&')[1];
            var board_param = {
                commId: commId,
                posts_pw: CryptoJS.AES.encrypt(pw, '<%= models.salt %>').toString()
            }
            console.log('board_param:', board_param);
            // CryptoJS.AES.encrypt(JSON.stringify({posts_pw: document.frm.posts_pw.value}), saltKey).toString();
            connectToServer('/comm_remove', {user_data: board_param}, 'POST', function(err, res){
                if(err){
                    // alert('서버에서 에러가 발생했습니다. 잠시 후에 다시 시도 해 주세요.');
                    console.log("서버오류 ---> ", err);
                    alert(err);
                    return false;
                }
                //실패
                if(res.error){
                    /* 
                        [ res.error.errno ]
                        1406 ---> Data Too Long
                        1054 ---> Bad Sql
                        1062 ---> PK 중복
                    */
                    console.log("DB오류 ---> ", res.error);
                   
                    /* 게시판 팝업 에러메시지 세팅 후 비추기 */
                    return setCommPopupError(res.error, function(result){
                        return result;
                    });
                }
                console.log('[ajax remove result]', res);
                /* 서버에서 받은 게시판 타입(숫자)를 받아서 redirect하기. */
                location.href='/comm/'+res.commType;
                /* 해당 작업(비동기)을 모두 완료 후 호출한 위치로 돌아가서 해당 시점 이후의 로직을 적용하라고 한다. */
                callback();
            });
            return false;
        }
    </script>
</div>
<% include ../../footer %>
<% include ../../foot %>