
                <h2 class="contents_title"><%= models.page_title %></h2>
                <div class="contents_area">
                    <div class="comm_contents">
                        <div class="comm_search_bar">
                            <input name="comm_search_text" class="comm_search_text" placeholder="검색내용 입력"  >
                            <span class="comm_search_btn fa fa-search"></span>
                            <select class="comm_search_select">
                                <option>제목</option>
                                <option>작성자</option>
                                <option>내용</option>
                            </select>
                        </div>

                        <table id="comm_table">
                            <thead>
                                <tr>
                                    <th>번호</th>
                                    <th>제목</th>
                                    <th>작성자</th>
                                    <th>작성일</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% models.comms.forEach((comm, idx) => { %>
                                    <tr>
                                        <th><%= comm.BOARD_INQUIRY_ID %></th>
                                     <!--   <td class="comm_title"><a href="/comm_view/<%= comm.BOARD_INQUIRY_ID %>"><%= comm.BOARD_INQUIRY_TITLE %></a></td>-->
                                        <td class="comm_title"><a href="/comm_view/<%= comm.BOARD_INQUIRY_ID %>"><%= comm.BOARD_INQUIRY_TITLE %></a></td>
                                        <td><%= comm.BOARD_INQUIRY_WRITER %></td>
                                        <td><%= comm.BOARD_INQUIRY_DATE %></td>
                                    </tr>
                                <% }); %>
                            </tbody>
                        </table> <!-- comm_table End -->
                        <div class="comm_btn_area">
                            <button onclick="location.href='/comm_write'" type="button" title="글쓰기" class="comm_write_btn" ><span>글쓰기</span></button>
                        </div>
                    </div> <!-- comm_contents -->
                </div> <!-- contents_area End -->
