<!DOCTYPE html>
<html>
    <head>
       <% include ../partials/head %>
    </head>
    <body>

        <div data-role="page" id="design_page" class="page_box">

            <!-- 주메뉴 호출 -->
            <% include ../partials/header %>

            <div role="main" id="design_list" class="page_main">
                <h2 class="page_title">Design Page</h2>
                <ul>
                    <% designs.forEach((design, idx) => { %>   
                        <li>
                            <p>ID: <%= design.POTRPOLIO_ID %></p>
                            <p>NAME: <%= design.PORTPOLIO_NAME %></p>
                            <p>BUSINESS: <%= design.PORTPOLIO_BUSINESS %></p>
                            <a href="#<%= design.POTRPOLIO_ID %>"
                                data-rel="popup"
                                data-position-to="window"
                                data-transition="pop"
                                class="ui-btn ui-btn-a ui-corner-all mc-top-margin-1-5">이미지 보기 - <%= design.POTRPOLIO_ID %></a>
                        </li>
                    <% }); %>
                </ul>


                <!-- ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■Design List -->
                <div data-role="popup" id="design1" data-dismissible="false">
                    <div role="main" class="page_main">
                        <h1>이미지 있는걸로</h1>
                        <a href="#" data-rel="back" class="ui-btn ui-corner-all ui-shadow ui-btn-b mc-top-margin-1-5">목록보기</a>
                    </div>
                </div>
            </div>
        </div>

    </body>
</html>
