
                <h2 class="contents_title"><%= models.page_title%></h2>
                <div class="contents_area">
                    <div class="design_contents">
                        <ul class="design_business_menu">
                            <li><a href="" class="gk_corner_all gk_simple2_btn">업종1</a></li>
                            <li><a href="" class="gk_corner_all gk_simple2_btn">업종2</a></li>
                            <li><a href="" class="gk_corner_all gk_simple2_btn">업종3</a></li>
                        </ul>
                        <ul class="deisgn_thumbnail">
                            <% models.designs.forEach((design, idx) => { %>
                                <li>
                                    <a href="#design<%= design.POTRPOLIO_ID %>"
                                        data-rel="popup"
                                        data-position-to="window"
                                        data-transition="pop"
                                        class="">디자인 <%= design.POTRPOLIO_ID %> 보기(<%= design.PORTPOLIO_NAME %> / <%= design.PORTPOLIO_BUSINESS %>)</a>
                                    <ul class="deisgn_thumbnail_cover">
                                        <li><a href="">모바일</a></li>
                                        <li><a href="">테블릿</a></li>
                                        <li><a href="">PC</a></li>
                                    </ul>
                                </li>
                            <% }); %>
                        </ul> <!-- deisgn_thumbnail End -->
                        <!-- <div class="deisgn_thumbnail_more_btn"></div> -->
                    </div> <!-- design_contents End -->
                </div> <!-- contents_area End -->
