
<script>

    $(window).on("load", function(){
        var mail = "<%=models.user_data.user_email_mail%>";
        chageMailSelect();
    });

</script>
                <h2 class="contents_title"><%= models.page_title%></h2>
                <div class="contents_area">
                    <div class="my_info_modi_contents">
                        <form name="my_info_modi_form" action="" method="post">
                            <fieldset>
                                <table>
                                    <tr>
                                        <th>ID</th>
                                        <td><%=models.user_data.user_id%></td>
                                    </tr>
                                    <tr>
                                        <th>PW</th>
                                        <td><button type="button" onclick="location.href='/changePwPage'" class="gk_simple1_btn" title="비밀번호 변경하기"><span>비밀번호변경</span></button>
                                    </tr>
                                    <tr>
                                        <th>Name</th>
                                        <td><input name="user_name" type="text" value="<%=models.user_data.user_name%>" /></td>
                                    </tr>
                                    <tr>
                                        <th>Phone</th>
                                        <td>
                                           <input name="user_phone1" type="text" value="<%=models.user_data.user_phone1%>" />-
                                           <input name="user_phone2" type="text" value="<%=models.user_data.user_phone2%>" />-
                                           <input name="user_phone3" type="text" value="<%=models.user_data.user_phone3%>" /> 
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>E-mail</th>
                                        <td>
                                            <input name="user_email" type="text" value="<%=models.user_data.user_email_id%>" />&#64;
                                            <select name="user_mail" onchange="chageMailSelect()">
                                                <option selected="selected" value="naver.com">naver.com</option>
                                                <option value="hanmail.net">hanmail.net</option>
                                                <option value="nate.com">nate.com</option>
                                                <option value="gmail.com">gmail.com</option>
                                                <option name="dir_entr" value="dir_entr">직접입력</option>
                                            </select>
                                            <input type="text" name="user_mail_dir" maxlength="20" value="<%=models.user_data.user_email_mail%>" onFocus="this.value='';return true;" onchange="userMailDirChange()" />
                                            <span class="" name="user_email">
                                            
                                            <script>
                                                var mail = "<%=models.user_data.user_email_mail%>";
                                                var num ;


                                                switch(mail)
                                                        {
                                                        case 'naver.com':num = 0; break;
                                                        case 'hanmail.net': num=1; break;
                                                        case 'nate.com': num=2; break;
                                                        case 'gmail.com': num=3; break;
                                                        default: num=4; break;
                                                        }
                                                $("select[name='user_mail'] option:eq("+num+")").attr("selected", true);
                                                $("input[name=user_mail_dir]").attr("value", mail) ;
                                                $("input[name=user_mail_dir]").val(mail) ;


                                                
                                                  
                                            </script>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Join Date</th>
                                        <td><%=models.user_data.user_join_date%></td>
                                    </tr>
                                    <tr>
                                        <th>staus</th>
                                        <td>
                                            <%
                                                var status = "";
                                                if(models.user_data.user_status == 'T'){
                                                    status = '가입';
                                                }else if(models.user_data.user_status == 'F'){
                                                    status = "탈퇴";
                                                }else if(models.user_data.user_status == 'R'){
                                                    status = "휴면";
                                                }
                                            %>
                                            <%=status%>
                                            <button type="button" onclick="javascript:$('.reasons_box').show();" title="회원탈퇴버튼" class="gk_simple1_btn"><span>탈퇴하기</span></button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="2" class="reasons_box">
                                            <p>탈퇴사유를 선택해주세요.</p>
                                            <input type="radio" name="withdrawal_reasons" id="withdrawal_reasons1" checked="checked" value="홈페이지 제작 안함" /><label for="withdrawal_reasons1">홈페이지 제작 안함</label>
                                            <input type="radio" name="withdrawal_reasons" id="withdrawal_reasons2" value="그냥" /><label for="withdrawal_reasons2">그냥</label>
                                            <input type="radio" name="withdrawal_reasons" id="withdrawal_reasons3" value="내가 더 잘만들것같음" /><label for="withdrawal_reasons3">내가 더 잘만들것같음</label>
                                            <button type="button" onclick="return goWithdrawal()" title="회원탈퇴하기" class="gk_simple1_btn"><span>확인</span></button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="2">
                                            <button type="button" onclick="return goModiMyInfoModi()" class="gk_simple1_btn" title="내정보수정하기"><span>정보수정</span></button>
                                        </td>
                                    </tr>
                                </table>
                            </fieldset>
                        </form>
                    </div> <!-- my_info_modi_contents End -->
                </div> <!-- contents_area End -->
