
               <h2 class="contents_title"><%= models.page_title %></h2>
               <div class="contents_area">
                    <div class="comm_contents">
                        <%
                        
                        if(!models.comms){
                            act = '/comm_write/' + models.comm_name;
                        }else{
                            act = '/comm_modify/' + models.comm_name +'&' + models.comms['BOARD_ID'];
                        }
                        
                        %>
                        <form action="<%=act%>" method="post">
                            <fieldset>
                                <table id="comm_write_table">
                                    <tbody>
                                        <tr class="comm_write_pw">
                                            <!-- 가져온 비밀번호 수정하면 서버로 보내 입력된 비밀번호와 일치여부 확인  -->
                                            <th>비밀번호</th>
                                            <td colspan="3">
                                                <input type="hidden" name="user_id" value="<%= locals.authId%>">
                                                <input type="password" class="posts_pw_check" name="posts_pw" maxlength="4" value=""/>
                                                <!-- <input type="hidden" class="posts_pw" name="posts_pw" maxlength="4" value="<%=(!models.comms)?'':models.comms['PASSWORD'] %>"/> -->
                                            </td>
                                        </tr>

                                        <tr class="comm_write_title">
                                            <th>제목</th>
                                            <td colspan="3"><input type="text" class="posts_title" name="posts_title" maxlength="20" value="<%=(!models.comms)?'':models.comms['TITLE'] %>"/></td>
                                        </tr>

                                        <tr class="comm_write_content">
                                            <td colspan="4" class="posts_textarea"><textarea name="editor1"><%= (!models.comms)?'':models.comms['CONTENT'] %></textarea></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </fieldset>
                            <div class="comm_write_btn_area">
                                <button type="submit" title="" class="comm_write_wirte_btn gk_simple1_btn" ><span><%=(!models.comms)?'작성':'수정'%></span></button>
                                <button onclick="location.href='/comm/<%=models.comm_name%>'" type="button" title="취소" class="comm_write_cancel_btn gk_simple1_btn" ><span>취소</span></button>
                            </div>
                        </form>
                    </div> <!-- comm_contents End -->
               </div> <!-- contents_area End -->


        <script>

            /* 게시판 에디터 활성화 */
            CKEDITOR.replace( 'editor1', {
                
                extraPlugins: 'embed,autoembed,uploadimage,image2',
                
                /* embed url 삽입 시 실행되는 로직 */
                embed_provider: '//ckeditor.iframe.ly/api/oembed?url={url}&callback={callback}',
                
                /* 업로드 url */
                filebrowserUploadUrl: '/upload',

            });

        </script>
