<% include ../head %>
<% include ../header %>
<div role="main" class="contets_wrapper"></div>

                <h2 class="contents_title"><%= models.page_title%></h2>
                <div class="contents_area">
                    <div class="design_contents">
                        <ul class="design_business_menu">
                            <li><a href="" class="gk_corner_all gk_simple2_btn">업종1</a></li>
                            <li><a href="" class="gk_corner_all gk_simple2_btn">업종2</a></li>
                            <li><a href="" class="gk_corner_all gk_simple2_btn">업종3</a></li>
                        </ul>
                        <ul class="design_thumbnail">
                            <% models.designs.forEach((design, idx) => { %>
                                <li>
                                    <img src="<%=locals.urls.img_path %><%=design.PORTPOLIO_IMG%>" alt="">
                                    <div class="design_thumbnail_cover">
                                        <span>
                                            <a href="#"
                                                data-rel="popup"
                                                data-position-to="window"
                                                data-transition="pop"
                                                class="">모바일</a>
                                        </span>
                                        <span>
                                            <a href="#"
                                                data-rel="popup"
                                                data-position-to="window"
                                                data-transition="pop"
                                                class="">테블릿</a>
                                        </span>
                                        <span>
                                            <a href="#"
                                                data-rel="popup"
                                                data-position-to="window"
                                                data-transition="pop"
                                                class="">PC</a>
                                        </span>
                                    </div>
                                    <div class="design_title">디자인 <%= design.POTRPOLIO_ID %> 보기(<%= design.PORTPOLIO_NAME %> / <%= design.PORTPOLIO_BUSINESS %>)</div>
                                </li>
                            <% }); %>
                        </ul> <!-- design_thumbnail End -->
                        <!-- <div class="design_thumbnail_more_btn"></div> -->
                    </div> <!-- design_contents End -->
                </div> <!-- contents_area End -->

                
</div>
<% include ../footer %>
<% include ../foot %>
            