
<script>

 var img_list_arr = []; // design 카테고리에서 사용될 db에 저장된 이미지정보를 저장 할 배열.

</script>


<% include ../head %>
<% include ../header %>
<div role="main" class="contets_wrapper">

    <!-- 썸네일 팝업 -->
    <div class="design_thumbnail_pop">
        <div class="design_thumbnail_pop_img_box">
            <div class="design_thumbnail_pop_close_btn removeitem">닫기</div>
            <ul class="design_thumbnail_img">
                <li><img nimg="" /></li>
                <li><img nimg="" /></li>
                <li><img nimg="" /></li>
                <li>이미지가 없습니다.</li>
            </ul>
            <ul class="design_thumbnail_cate_btn">
                <li aim="0">PC</li>
                <li aim="1">모바일</li>
                <li aim="2">테블릿</li>
            </ul>
            <div class="design_thumbnail_delete_btn">
                <form action="/designDelOrModi" id="design_del_or_modi_from" method="">
                    <button type="button" onclick="designDelete()" class="gk_simple2_btn gk_corner_all"><span>삭제</span></button>
                    <button type="button" onclick="designModify()" class="gk_simple2_btn gk_corner_all"><span>수정</span></button>
                    <input type="hidden" name="design_id" value="" />
                </form>
            </div>
        </div>
    </div>

    <script>
    
    //디자인 삭제
    function designDelete(){
        if( confirm('삭제하시겠습니까?') ){

            $("#design_del_or_modi_from").attr("method","get");
            $("#design_del_or_modi_from").attr("action","/designDelOrModi?design_id="+$("input[name=design_id]").val() );
            document.getElementById('design_del_or_modi_from').submit();
        }
    }

    //디자인 수정
    function designModify(){

         $("#design_del_or_modi_from").attr("method","post");
            document.getElementById('design_del_or_modi_from').submit();
    }
    
    </script>


    <!-- 본문 -->
    <h2 class="contents_title"><%= models.page_title%></h2>
    <div class="contents_area">
        <div class="design_contents">
            <div class="design_regi_btn">
                <button type="button" onclick="location.href='/designWritePage'"  class="gk_simple2_btn gk_corner_all" ><span>디자인등록</span></button>
            </div>
            <ul class="design_business_menu">
                <% models.dmoain_list.forEach((dmoain_list, idx) => {  %>
                    <li><a href="/design?tab=<%=dmoain_list.BUSINESS_ID%>" class="gk_corner_all gk_simple2_btn"><%=dmoain_list.BUSINESS_NAME%></a></li>
                <% }); %>
            </ul>
            <ul class="design_thumbnail">
                <!-- 
                    <%= models.designs_length%>  가 0 일 때
                    <li>no design</li>           처리하기.

                -->
                        <% models.designs.forEach((design, idx) => { %>
                            <li>
                                <img class="list_main_img_<%=idx%>" ab="<%=idx%>" src="" alt="" >
                                <div class="design_thumbnail_cover"></div>
                                <div class="design_title" ppId="<%= design.PORTPOLIO_ID %>">디자인 <%= design.PORTPOLIO_ID %> 보기(<%= design.PORTPOLIO_NAME %> / <%= design.PORTPOLIO_BUSINESS %>)</div>
                            </li>
                            <script>
                                // ","로 구분되어있는 정보를 받아 split하여 자바스크립트 배열로 저장
                                img_list_arr.push("<%=design.PORTPOLIO_IMG%>".split(","));    
                            </script>
                        <% }); %>
            </ul> <!-- design_thumbnail End -->
            <!-- <div class="design_thumbnail_more_btn"></div> -->
        </div> <!-- design_contents End -->
    </div> <!-- contents_area End -->


    <script>
        // 해당업종번호 불러와서 해당 탭에 css주기
        var tap_num = "<%=models.bisuness_domain_num%>";
    
        $(".design_business_menu > li").eq(Number(tap_num)-1).children("a").css("border","1px solid #000");

        
    </script>
                

</div>
<% include ../footer %>
<% include ../foot %>