<% include ../head %>
<% include ../header %>
<div role="main" class="contets_wrapper"></div>



    <div class="banner">
        <ul class="banner_inner">
            <li><img src="<%=locals.urls.img_path %>banner1.JPG" class="banner_img" /></li>
            <li><img src="<%=locals.urls.img_path %>banner2.jpg" class="banner_img" /></li>
            <li><img src="<%=locals.urls.img_path %>banner3.jpg" class="banner_img" /></li>
            <li><img src="<%=locals.urls.img_path %>banner4.jpg" class="banner_img" /></li>
            <li><img src="<%=locals.urls.img_path %>banner5.jpg" class="banner_img" /></li>
        </ul>
        <ul class="banner_btn">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>
    <div class="main_contents_wrapper">

    </div> <!-- main_contents_wrapper End -->



</div>
<% include ../footer %>
<% include ../foot %>
            

                
